@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    amrit Pariyar<br />
    Nepal<br />
    <abbr title="Skype">Skype:</abbr>live:amrit.pariyar_1 <br />
    <abbr title="linkedin">LinkedIn:</abbr>https://www.linkedin.com/in/amritpariyar/
</address>

<address>
    <strong>main:</strong>   <a href="mailto:amrit.pariyar1@gmail.com">amrit.pariyar1@gmail.com</a><br />
</address>